<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /dr-lib-server
    RewriteRule ^index\.php$ - [L]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule . /dr-lib-server/index.php [L]
</IfModule>